html, body {
    width: 100%;
    height: 100%;
} 
.container {
    width: 100%;
    height: 100%;
    background-color: blue;
    display: flex;
}
.sidebar {
    width: 15%;
    background-color: red;
}
.content-container {
    height: 80%;
    width: 100%;
}
header {
    height: 15%;
    width: 100%;
    background-color: green;
}